<header>
    <div class="header-content">
        <br/><br/><br/><br/>
        <div class="header-content-inner">
            <h1>Brainhack Western France</h1>
            <h2><b>Open science hackathon</b></h2>
            <h3>November 14-15, 2019</h3>
            <h3>An event of <a href="http://www.brainhack.org/global2019/">BrainHack Global</a></h3>
            <hr/>
            <div class="row">
                <h2>Keynote speakers</h2>
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <h4>
                        Title to be confirmed<br>
                        <strong>François Rousseau</strong>, 
                        November 14, 13:30
                    </h4>

                    <h4>
                        Title to be confirmed<br>
                        <strong>Anne-Charlotte Philippe</strong>, 
                        November 14, 14:00
                    </h4>

                    <h4>
                        Title to be confirmed<br>
                        <strong>Diana Mateus</strong>, 
                        November 15, 13:30
                    </h4>

                    <h4>
                        Title to be confirmed<br>
                        <strong>Nancy Bertin</strong>, 
                        November 15, 14:00
                    </h4>
                </div>
            </div>
            <hr/>
            <a class="btn btn-primary btn-xl page-scroll" href="https://secure.gipco-adns.com/site/7376/inscription+registration-brainhack+rennes+2019-">Registration (before November 5)<br/></a><br><br>
            <a href="mailto:brainhack@inria.fr" class="btn btn-primary btn-xl page-scroll">Submit a Project!</a>
        </div>
    </div>
</header>
