<section class="bg-primary" id="ignite_speakers">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <h2>Keynote speakers</h2>

              <h4>Reversible Networks for Brain MRI Synthesis
              <br>
              <strong>François Rousseau</strong>, IMT Atlantique, Brest.
              </h4>

              <h4>Title to be confirmed
              <br>
              <strong>Anne-Charlotte Philippe</strong>, Université Bretagne Sud, Vannes.
              </h4>

              <h4>Title to be confirmed
              <br>
              <strong>Diana Mateus</strong>, Ecole Centrale Nantes.
              </h4>

              <h4>Title to be confirmed
              <br>
              <strong>Nancy Bertin</strong>, Univ Rennes, Inria, CNRS, IRISA UMR 6074, Rennes.
              </h4>
          </div>
      </div>
  </div>
</section>
