<section class="bg-primary" id="ignite_speakers">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <h2>Keynote speakers</h2>
              
              <h4>Feedback from a routine care imaging study in depression - the LONGIDEP cohort
              <br>
              <strong>Jean-Marie Batail </strong>, CHGR, Rennes.
              </h4>
              <blockquote>
Actually, research in the field of depression encounter challenges such as the need of biomarker which could help physicians in identifying subtypes of depressed patients who will have a pejorative outcome or need specific therapeutics. 
LONGIDEP cohort was a prospective study conducted in routine care. 180 patients suffering from a mood depressive episode benefited from a clinical, neuropsychological and brain imaging. They were assessed at 6, 12 months, 2 and 3 years. Brain imaging protocols composed anatomical (T1, DTI), and perfusion sequences (ASL). The aim of this work was to study anxiety and apathy in depression. These clinical factors and its imaging correlates were tested in prediction of outcome at 6-months follow-up.
Our study has shown that 1) apathy in depression was associated with specific clinical and pathophysiological patterns, 2) categorical and phenotypic approaches identified different white matter abnormalities in depression, 3) trait anxiety, cognitive patterns of visuospatial memory were predictive of pejorative outcome. Structural abnormalities in key regions involved in emotion regulation were associated with pejorative outcome of depression. Only anxiety was involved in prognosis. Further works should study the link between anxiety and motivation using multimodal imaging protocol such as anatomical and functional connectivity with methodological supports such as machine learning, or graph theory. These challenges will be conducted in PHRCi project DEPREDICT. 
              </blockquote>
            
              <h4>Reversible Networks for Brain MRI Synthesis
              <br>
              <strong>François Rousseau</strong>, IMT Atlantique, Brest.
              </h4>
              <blockquote>
Image synthesis in medical imaging is an emerging research area and the main
applications are data normalization, cross modality synthesis,
super-resolution, validation of algorithms (segmentation, registration). In
this talk, we will tackle the problem of image synthesis as a regression
problem, formulated in a deep learning framework. More specifically, we will
explore the use of deep reversible networks for brain MRI synthesis.
              </blockquote>

              <h4>Expert Aided CNNs: 
              improving fracture classification with curriculum learning
              <br>
              <strong>Diana Mateus</strong>, Ecole Centrale Nantes.
              </h4>
              <blockquote>
We target the problem of fracture classification from clinical X-Ray images
towards the development of an effective Computer Aided Diagnosis (CAD) system.
The fracture classification problem is difficult as confirmed by low intra- and
inter-expert agreement rates of our in-house study and also in the previous
literature.  The talk will show the design and application of different deep
learning techniques towards identifying, localizing and finally classifying
proximal femur fractures. In particular, a recently proposed curriculum
learning approach which takes expert knowledge into account to guide the CNN
weight optimization.
              </blockquote>

              <h4>Source localisation: from the room to the brain
              <br>
              <strong>Nancy Bertin</strong>, 
              Univ Rennes, Inria, CNRS, IRISA UMR 6074, Rennes.
              </h4>
          </div>
      </div>
  </div>
</section>
