<section class="bg-primary" id="ignite_speakers">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <h2>Keynote speakers</h2>

              <h4>Reversible Networks for Brain MRI Synthesis
              <br>
              <strong>François Rousseau</strong>, IMT Atlantique, Brest.
              </h4>
              <blockquote>
Image synthesis in medical imaging is an emerging research area and the main
applications are data normalization, cross modality synthesis,
super-resolution, validation of algorithms (segmentation, registration). In
this talk, we will tackle the problem of image synthesis as a regression
problem, formulated in a deep learning framework. More specifically, we will
explore the use of deep reversible networks for brain MRI synthesis.
              </blockquote>

              <h4>Expert Aided CNNs: 
              improving fracture classification with curriculum learning
              <br>
              <strong>Diana Mateus</strong>, Ecole Centrale Nantes.
              </h4>
              <blockquote>
We target the problem of fracture classification from clinical X-Ray images
towards the development of an effective Computer Aided Diagnosis (CAD) system.
The fracture classification problem is difficult as confirmed by low intra- and
inter-expert agreement rates of our in-house study and also in the previous
literature.  The talk will show the design and application of different deep
learning techniques towards identifying, localizing and finally classifying
proximal femur fractures. In particular, a recently proposed curriculum
learning approach which takes expert knowledge into account to guide the CNN
weight optimization.
              </blockquote>

              <h4>Title to be confirmed
              <br>
              <strong>Nancy Bertin</strong>, 
              Univ Rennes, Inria, CNRS, IRISA UMR 6074, Rennes.
              </h4>
          </div>
      </div>
  </div>
</section>
