<section class="bg-primary" id="past-editions">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <br><h2>Past Editions</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <ul>
          <li><a href="https://inria-visages.github.io/brainhackrennes-2018/">Brainhack Rennes 2018</a></li>
        </ul>
      </div>
    </div>

  </div>
</section>
