<section class="bg-primary" id="projects">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <br><h2>Current projects</h2><br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="col-md-6 spaced-columns content-wrapper" style="font-size:1.1em; vertical-align:top;" >
          <div align="center">
            <h3>Develop interfaces and workflows for <a href="https://github.com/Inria-Visages/Anima-Public">Anima</a> in <a href="http://nipype.readthedocs.io/en/latest/">Nipype</a></h3> 
            <p><img src="img/projects/brainhack_nipype_anima_project.png" style="width:80%;" alt="Nipype and Anima" /> </p>
          </div>
	  <p>
            Nipype looks like a great framework to define small processing bricks and
            automatically assemble them to form pipelines. At <a
            href="https://inria-visages.github.io/brainhackrennes-2018/#projects">last year
            brainhack</a>, we had time to define interfaces for the <a
            href="https://github.com/Inria-Visages/Anima-Public">Anima</a> open-source
            software. The idea this time is to go all the way to define a pipeline based on
            Anima interfaces and try to run it on a cluster on some toy data.
          </p>
          <p>
            <strong style="font-size:1.2em">Contact</strong>: 
            <a href="mailto:olivier[dot]commowick[at]inria[dot]fr">Olivier Commowick</a> 
          </p>
        </div>

        <div class="col-md-6 spaced-columns content-wrapper text-faded" style="font-size:1.1em; vertical-align:top;" >
            <div align="center">
            <h3>Your project!</h3>
            <p>Is there a topic you are particularly interested in? A tool you would like to work on? Submit your own project!</p>
            </div>
            <p>Projects can cover any type of software development, but also can be a proposal for a focus discussion or, a self-training using public resources, and even more! All project proposals will be considered, please contact us if you are unsure whether your proposal can be submitted as a project. To submit a project, please <a href="mailto:brainhack[at]inria[dot]fr">email us</a> a project title and a short description with an image.</p>
        </div>

      </div>
    </div>
  </div>
</section>
