<section class="bg-primary" id="projects">
  <div class="container">
      <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
              <br><h2>Current projects</h2><br />
          </div>
      </div>
      <div class="row">
	    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">

        <div class="col-md-6 spaced-columns content-wrapper text-faded" style="font-size:1.1em; vertical-align:top;" >
            <div align="center">
            <h3>Your project!</h3>
            <p>Is there a topic you are particularly interested in? A tool you would like to work on? Submit your own project!</p>
            </div>
            <p>Projects can cover any type of software development, but also can be a proposal for a focus discussion or, a self-training using public resources, and even more! All project proposals will be considered, please contact us if you are unsure whether your proposal can be submitted as a project. To submit a project, please <a href="mailto:brainhack[at]inria[dot]fr">email us</a> a project title and a short description with an image.</p>
        </div>

	    </div>
      </div>
  </div>
</section>
